.element__name {
    font-size: 24px;
    font-weight: 900;
    line-height: normal;
    margin: 25px auto 31px 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-self: center;
}