.element__like {
    width: 22px;
    height: 19px;
    margin-left: auto;
    padding: 0;
    border: none;
    align-self: center;
    background: transparent center no-repeat;
    background-image: url(../../../images/like.svg);
    background-size: cover;
}

.element__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.element__like:active {
    background-image: url(../../../images/like-active.svg);
}