.element__like {
    width: 22px;
    height: 19px;
    margin-right: 20px;
    padding: 0;
    align-self: center;
    border-style: none;
    background-color: transparent;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
}

.element__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.element__like:active {
    background-image: url(../../../images/like-active.svg);
}