.element__delete {
    width: 18px;
    height: 19px;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent center no-repeat;
    background-image: url(../../../images/Trash.svg);
    background-size: cover;
    position: absolute;
    top: 20px;
    right: 20px;
}

.element__delete:hover {
    opacity: 0.6;
    cursor: pointer;
}