.element__group {
    width: 100%;
    max-width: 282px;
    margin: 0;
    padding: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
}

@media screen and (max-width: 320px) {
    .element__group {
        max-width: 88.13vw;
    }
}